// THese are the varibles
@mixin arrow {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 0.5vw;
  background-color: #fb3449;
  color: white;
  //  background-color: darken($color: #f5f9fa, $amount: 10%);
  font-size: 3vw;
  padding: 1.5vw 0.8vw;
  transition: 0.2s;
  z-index: 100;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
// This is the body of scss
.carousel_arrows {
  &__left {
    @include arrow;
    left: 0.6%;
  }

  &__right {
    @include arrow;
    right: -2.9%;
  }
}
